@inherits NavMenuBase

@if (true)
{
    <div class="side-menu">
        <ul class="nav flex-column">
            <li class="nav-item px-0">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <img src="../images/queues.svg" class="menu-icon" /> <span class="menu-text ml-2">Dashboard</span>
                </NavLink>
            </li>
            <li class="nav-item px-0">
                <NavLink class="nav-link" href="/apps">
                    <img src="../images/apps.svg" class="menu-icon" /> <span class="menu-text ml-2">Apps</span>
                </NavLink>
            </li>
            <li class="nav-item px-0">
                <NavLink class="nav-link" href="users">
                    <img src="../images/users.svg" class="menu-icon" /><span class="menu-text ml-2">Users</span>
                </NavLink>
            </li>
        </ul>
    </div>
}